.vote {
    justify-content: center !important;
    button {
        height: 50px;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 3rem;
        animation: waiting 1.3s ease, fade-in 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        animation-delay: 0s,1.3s;
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.plan {
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        &:checked {
            + {
                .plan-content {
                    img {
                        animation-timing-function: ease;
                        animation-iteration-count: infinite;
                        animation-name: bounce;
                        animation-duration: 1.5s;
                    }
                    &:after {
                        content: "";
                        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                      </svg>');
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        background: #21e0a7a5;
                        right: 20px;
                        top: 20px;
                        border-radius: 100%;
                        border: 1px solid rgba(86, 251, 215, 0.5);
                        box-shadow: 0px 0px 0px 4px #2b73e0c1;
                    }
                    // border: 2px solid #216ee0;
                    background: #568df568;
                    transition: ease-in 0.3s;
                    // background: linear-gradient(-45deg, #db488d7e, #753ce78c, #235ed585, #23cfd583);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                }
            }
        }
    }
    cursor: pointer;
    // width: 48.5%;
    .plan-content {
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        width: 340px;
        padding: 30px;
        box-sizing: border-box;
        border: 1px solid rgba(86, 103, 251, 0.5);
        border-radius: 10px;
        transition: box-shadow 0.4s;
        position: relative;
        img {
            margin-right: 30px;
            height: 72px;
        }
        &:hover {
            box-shadow: 0px 2px 12px 0px #369ee99c;
        }
    }
    .plan-details {
        font-family: 'rubik', sans-serif;
        span {
            text-transform: uppercase;
            margin-bottom: 4px;
            display: block;
            font-size: 20px;
            line-height: 24px;
            color: white;
        }
        p {
            color: white;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 991px) {
    .modal-body {
        gap: 1.5rem;
    }
	.plans {
		margin: 0 20px;
		flex-direction: column;
		align-items: flex-start;
		padding: 40px;
	}

	.plan {
		width: 100%;
	}

	.plan.complete-plan {
		margin-top: 20px;
	}

	.plan .plan-content .plan-details {
		width: 70%;
		display: inline-block;
	}

	.plan input[type="radio"]:checked + .plan-content:after {
		top: 45%;
		transform: translate(-50%);
	}
}

@media screen and (max-width: 767px) {
	.plan .plan-content .plan-details {
		width: 60%;
		display: inline-block;
	}
}

@media screen and (max-width: 540px) {
	.plan .plan-content img {
		margin-bottom: 20px;
		height: 56px;
		transition: height 0.4s;
	}

	.plan input[type="radio"]:checked + .plan-content:after {
		top: 20px;
		right: 10px;
	}

	.plan .plan-content .plan-details {
		width: 100%;
	}

	.plan .plan-content {
		padding: 20px;
		flex-direction: column;
		align-items: baseline;
	}
}

/* inspiration */
.inspiration {
	font-size: 12px;
	margin-top: 50px;
	position: absolute;
	bottom: 10px;
	font-weight: 300;
}

.inspiration a {
	color: #666;
}

@media screen and (max-width: 767px) {
    .plan .plan-content {
        width: 100%;
    }
}